.dashboard{
  &__cv{
    height: 100vh;
    /* width: 100vw; */
    cursor: pointer;
    /* padding: 1em 2em; */
    background: #1a1a1a;
    /* text-align: center; */
    transition: all ease 1s;
    /* width: 100%;
    height: 100%; */
    @mixin atMedium{
      width: 33.5vw;
      height: 47.5vh;
      float: left;
      transform: translateY(0vh);
    }
    & h3{
      margin-bottom: 1em;
      color: #fff;
    }
    &--tribe{
      width: 100%;
      height: 90%;
      filter: blur(2px);
      transition: .5s all ease;
    }
    &:hover{
      .dashboard__cv--tribe{
      filter: blur(0px);
      }
    }
  }
}


.cv{
  display: flex;
  &__sidebar{
    width: 20%;
    text-align: center;
    border-right: 1px solid #fff;
    & img{
      width: 20%;
    }
    &__nav{
      &--year{
        margin: 2em 0;
        font-size: 1.3em;
      }
    }
    &--astronaut{
      margin-top: 2em;
      height: 22%;
    }
  }
  &__content{
    width: 100%;
    height: 100%;
    transform:  translateY(25%);
    padding: 4em;

    &__caption{
      width: 50%;
      border-bottom: 1px solid #fff;
    }
    &__event{
      width: 50%;
      & h2{
        font-weight: 100;
        font-size: 3em;
        margin: 1rem 0;
      }
      & p {
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.6em;
      }
    }
  }
  &__close{

  }
}
.cv__close{
  position: absolute;
  top: 3em;
  right: 3em;
  display: block;
  z-index: 100;
  overflow: visible;
  padding: 5.5px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50px;
  &::after{
    /* position: absolute; */
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    /* margin-top: .2em; */
    transform: rotateZ(-45deg) scaleX(1.25);
    transform-origin: 0 50%;
  }
  &--icon{
    visibility: hidden;
    display: block;
    margin: .7em 0;
    width: 30px;
    height: 2px;
    background: #fff;
  }
  &::before{
    /* position: absolute; */
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    /* margin-bottom: .2em; */
    transform: rotateZ(45deg) scaleX(1.25);
    transform-origin: 0 0;
  }
  &__display{
    display: block;
  }
}
