.dashboard{
  &__cv{
    height: 100vh;
    /* width: 100vw; */
    cursor: pointer;
    padding: 1em 2em;
    background: #1a1a1a;
    /* text-align: center; */
    transition: all ease 1s;
    /* width: 100%;
    height: 100%; */
    @mixin atMedium{
      width: 33.5vw;
      height: 47.5vh;
      float: left;
      transform: translateY(0vh);
    }
    & h3{
      margin-bottom: 1em;
      color: #fff;
    }
    &--tribe{
      width: 100%;
      height: 90%;
      filter: blur(2px);
      transition: .5s all ease;
    }
    &:hover{
      .dashboard__cv--tribe{
      filter: blur(0px);
      }
    }
  }
}
