.dashboard{
  &__front{
    height: 91vh;
    /* width: 100vw; */
    display: block;
    padding: 1em;
    /* align-items: baseline; */
    background: url('https://tristanheckelsmueller.github.io/Portfolio/assets/images/Sunset-Mountains.jpg');
    background-size: cover;
    color: #fff;
    @mixin atMedium{

      width: 66vw;
      height: 95vh;
      padding: 4em;
      float: left;
    }
    &__title{
      height: 30%;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: flex-end;
      @mixin atMedium{
        height: 50%;

      }
      & h2{
        font-weight: 100;
        font-size: 1.5em;
        margin-bottom: 0;
        cursor: default;
            color: #c26341;
      }
      & h3{
        margin: .2em;
        font-size: 1em;
        font-weight: 100;
        cursor: default;
        color: #fff;
      }
    }
    &__space{
      @mixin atMedium{
        height: 50%;
      }
    }
    &__about-me{
      width: 100%;
      transition: .5s all ease;
      cursor: default;
      @mixin atMedium{
        line-height: 1.8em;
        opacity: 0;
        letter-spacing: .05em;
      }
      & h3{
        font-weight: 900;
      }
      & p{
        font-weight: 100;
        overflow: visible !important;
        @mixin atMedium{
          display: none;
          display: block;
        }
      }
    }
  }
}
