.dashboard{
  &__projects{
    cursor: pointer;
    float: left;
    height: 47.5vh;
    width: 33.5vw;
    z-index: 2;
    transition: all ease 1s;
    border: 1px solid #000;
    &--col{
      transition: all ease 1s;
      overflow: visible;
      width: 300vw;
      /* background: #000; */
    }
    &--background{
      /* overflow: hidden; */
      position: absolute;
      width: 33%;
      height: 45vh;
      z-index: -1;
      background-size: cover;
      filter: grayscale(100%);
    }
    &--title{
      padding: 1em 2em;
      text-align: center;
     }
    & ul{
      padding: 0em 2em;
      margin-top: 2em;
      & li{
        margin-bottom: 5em;

      }
    }
  }
}

#col-1{
  background: url('https://tristanheckelsmueller.github.io/Portfolio/assets/images/blender/City.jpg');
  background-size: cover;
  filter: grayscale(100%);
  /* transform: translateX(2px); */
  &:hover{
  filter: grayscale(0%);
  }
}
#col-2{
  background: url('https://tristanheckelsmueller.github.io/Portfolio/assets/images/blender/City1.jpg');
  background-size: cover;
  filter: grayscale(100%);
  transform: scaleX(1.005);
  &:hover{
  filter: grayscale(0%);
  }
}
#col-3{
  background: #434343;
}
