.dashboard{
  &__projects{
     height: 25vh;
    /* width: 100vw;  */
    cursor: pointer;
    z-index: 2;
    transition: all ease 1s;
    @mixin atMedium{
      overflow: hidden;
      border: 1px solid #000;
      width: 33.5vw;
      height: 47.5vh;
      float: left;

    }
    &--col{
        transition: all ease 1s;
        overflow: visible;
        background: #000;
        @mixin atMedium{
          width: 300vw;
          height: 24vw;

        }
      @mixin atMedium{
        &::after{
          content: "";
          clear: both;
          display: table;
        }
      }
    }
    &--background{
      @mixin atMedium{
        position: absolute;
        width: 33%;
        height: 45vh;
      }
      /* overflow: hidden; */

      z-index: -1;
      background-size: cover;
      filter: grayscale(100%);
    }
    &--title{
      text-align: center;
      color: #fff;
      @mixin atMedium{
        color: #fff;
      }
      }
      @mixin atMedium{
        padding: 1em 2em;

      }
      & h3{
        margin: .2em;
        @mixin atMedium{
          margin: 1em 0;
        }
     }
    & ul{
      padding: 0;
      margin: 0;
      @mixin atMedium{
        padding: 0em 2em;
        margin-top: 2em;

      }
      & li{
        margin: 0;
        padding: .4em;
        @mixin atMedium{
          margin-bottom: 5em;
        }

      }
    }
  }
}

#col-1{
  background: url('https://tristanheckelsmueller.github.io/Portfolio/assets/images/blender/City.jpg');
  background-size: cover;
  filter: grayscale(100%);
  /* transform: translateX(2px); */
  &:hover{
  filter: grayscale(0%);
  }
}
#col-2{
  background: url('https://tristanheckelsmueller.github.io/Portfolio/assets/images/blender/City1.jpg');
  background-size: cover;
  filter: grayscale(100%);
  transform: scaleX(1.005);
  &:hover{
  filter: grayscale(0%);
  }
}
#col-3{
  background: #434343;
}
