.astronaut{
  display: none;
  position: absolute;
  transform: translateX(67vw) translateY(33vh) scale(.5) rotate(0deg);
  z-index: 5;
  @mixin atMedium{
    display: block;
  }
  &:hover{
    animation-name: wiggle-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
.astronaut-fall{
  transition: 2s all ease;
  transform: translateX(20vw) translateY(110vh) scale(.5) rotate(-240deg);
  z-index: -1;
}

.astronaut-fly{
  transition: 1.05s all ease;
  transform: translateX(67vw) translateY(-10vh) scale(.5) rotate(0deg);
  /* z-index: -1; */
  opacity: 0;
}
