.border{
  background: #fff;
  display: none;
  @mixin atMedium{
    float: left;
    display: block;
  }
  &-horizontal{
    width: 100%;
    height: 1vh;
  }
  &-vertical{
    width: .5vw;
    height: 95vh;
  }
}
