.index__footer{
  background: #272627;
  color: #fff;
  height: auto;
  padding: 1em;
  @mixin atLarge{
    padding: .5em;
    height: 8.2vh;
  }
  padding-left: 1em;
  & h3{
    margin: 0 0 0 0;
    font-weight: 100;
    font-size: 1.5em;
  }
  & p{
    margin: .5em 0 0 0;
  }
}
