.hamburger{
  transition: 1s all ease;
  padding: 1em;
  overflow: visible;
  cursor: pointer;
  @mixin atMedium{
    display: none;
  }
  &::before{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-8px) rotate(0deg);
    z-index: 7;
    transition: 1s all ease;
  }

  &__center{
    width: 30px;
    height: 3px;
    background: #fff;
    transition: 1s all ease;
  }
  &::after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(8px) rotate(0deg);
    z-index: 7;
  transition: 1s all ease;
  }
}


.ham-top {
  &::before{
    transform: rotate(-90deg) scale(1.21) translateY(12px) translateX(-2.5px);
  }
  &::after{
    transform: rotate(-90deg) scale(1.2) translateY(-12px) translateX(2.5px);
  }
}
.ham-center{
  transform: rotate(0deg) scale(1);
}
