.header{
  position: relative;
  color: #ffffff;
  background: #272627;
  z-index: 6;
  height: 9vh;
  padding: 0em 1em;
  overflow: visible;
  @mixin atMedium{
    padding: 0em 1.5em;
    height: 5vh;
  }
}
.nav{
  display: flex;
  align-items: center;
  height: 100%;
  &__title{
    width: 80%;
    display: flex;
    align-items: center;
    @mixin atMedium{
      width: 50%;
    }
    & img{
      width: 20px;
      margin-right: 1em;
      transition: 1s all ease;
      &:hover{
          animation-name: wiggle;
          animation-duration: 2s;
          animation-iteration-count: infinite;
       }
    }
    & h1{
      margin: 0;
      font-size: 1em;
      font-weight: 100;
    }
  }
  &__list{
    display: none;
    @mixin atMedium{
      width: 50%;
      display: block;
    }
    & ul{
      float: right;
      padding: 0;
      margin: 0;
      & li{
        cursor: pointer;
        float: left;
        padding-left: 3rem;
        list-style: none;
        font-weight: 100;
      }
    }
  }
}
