.main {
  background: #272627;
  width: 100%;
  height: 100%;
  @mixin atSmall{
    overflow-y: scroll;

    height: 86.8vh;
  }
  & h2{
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size: 1.7em;
    padding: 1rem;
    @mixin atMedium{
      padding: 3rem 0 0 3rem;

    }
  }
  &__tiles{
    width: 100%;
    height: 100%;
    z-index: 2;

    @mixin atLarge{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & h2{
      font-weight: 400;
      padding: 0;
    }
    &--tile{
      display: flex;
      align-items: center;
      justify-content:center;
      transition: 1s all ease;
      width: 75vw;
      height: 25vh;
      margin: 0 auto 1em;
      text-align: center;
      @mixin atLarge{
        width: 20vw;
        height: 400px;
        margin: .5em;
      }
      &:hover{
        transform: scale(1.05);
        box-shadow: 5px 5px 5px #00000087;
      }
    }
  }
  &__video{
    /* height: 25%; */
    width: 100%;
    display: flex;
    justify-content: center;
    @mixin atLarge{
      transform: translateY(-25%);
      position: fixed;
    }
    & video{
      width: 100%;
      height: 100%;
      @mixin atMedium{
        width: 50%;
      }
    }
  }
}
