.show-text{
  width: 100%;
  opacity: 1;
  transition: 1s all ease;
}

.show-modal{
  /* display: flex !important; */
  width: 100%;
  opacity: 1 !important;
  z-index: 5 !important;
}

.show-cv{
  position: absolute;
  opacity: 1 !important;
  z-index: 300 !important;
  transition: 1s all ease;
  bottom: 0;
  right: 0;
  @mixin atMedium{
    /* transform: translateY(-46vh) translateX(-66.5vw); */
    width: 100vw;
    height: 100vh;
  }
}
.show-projects{
  @mixin atMedium{
    width: 11%;
    transform-origin: right;
    z-index: 2;

  }
}

.slide{
  @mixin atMedium{
    transform: translateX(-66vw);

  }
}
.no-blur{
  filter: blur(0px);
}
.is-active{
  color: $orange;
}
